src/applied_decl.c
src/bytecode_gen.h
src/config.h
src/config.log
src/config.status
src/configure
src/efun_defs.c
src/instrs.h
src/lang.c
src/lang.h
src/lang.y
src/ldmud
src/machine.h
src/machine.h.in
src/make_func.c
src/mkfunc
src/Makefile
src/patchlevel.h
src/stdstrings.c
src/stdstrings.h
src/y.output
src/**/*.o
src/**/*.orig
src/autoconf/aclocal.m4
src/autoconf/autom4te.cache/
src/util/Makefile
src/util/erq/Makefile
src/util/erq/erq
src/util/indent/Makefile
src/util/indent/indent
src/util/xerq/Makefile
src/util/xerq/erq
test/log/*
test/*.log
*.pyc
